<div id='showMain'>
  <div id='showTop'>
    <h1><%= @article.title %></h1>
  </div>
<div id='showArticles'>  
  <p><%= @article.body %></p>
</div>

  <div id='showMenu'>
    <%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Destroy", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  </div>
  <div id='showFooter'>
  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  </div>
</div>  



